/* Estilos globales */
window {
    background-color: #1e1e1e;
}

/* Esquinas redondeadas para la ventana principal */
decoration {
    border-radius: 30px;
}

/* Estilo para el encabezado de título con esquinas redondeadas */
.title-header {
    background-color: #212836;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Ajustes generales para todos los labels para asegurar visibilidad */
label {
    color: #40E0D0;
}

/* Estilos específicos para etiquetas */
.label-text {
    color: #E0B0FF; /* Lavanda claro para combinar con el mapa */
}

/* Caja de Reloj y Zona */
.region-label {
    color: #E0B0FF;
    font-size: 12px;
    font-weight: bold;
}

.time-label {
    color: #E0B0FF;
    font-size: 12px;
    font-weight: bold;
}

/* Quitar cualquier borde rojo residual */
* {
    border-color: transparent;
}

/* Estilo para combos */
button, combobox, box, window, dialog {
    border: none;
}

combobox * {
    border: none;
}

combobox {
    color: white;
    min-height: 22px;
    padding: 2px;
}

combobox button {
    border-radius: 4px;
    border: none;
}

combobox arrow {
    color: #9370DB;
    border: none;
}

combobox menu {
    background-color: rgba(40, 40, 40, 0.95);
    border: 1px solid #9370DB;
    border-radius: 10px;
}

combobox menu menuitem {
    color: #E0B0FF;
    padding: 6px 8px;
    border-radius: 10px;
}

combobox menu menuitem:hover {
    background-color: rgba(147, 112, 219, 0.4);
    border-radius: 10px;
}

/* Estilo para el fondo de los botones */
.button-background {
    background-color: #212836;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Botones */
button {
    border-radius: 10px;
    padding: 6px 10px;
    border: 1px solid #9370DB;
    background-color: rgba(40, 40, 40, 0.8);
    color: white;
}

button:hover {
    background-color: rgba(60, 60, 60, 0.8);
}

/* Contenedores y cajas */
.selector-box {
    padding: 10px;
    border-radius: 10px;
}

.timezone-box {
    background-color: rgba(30, 30, 30, 0.8);
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #9370DB;
    margin-top: 20px;
}

.info-box {
    background-color: rgba(30, 30, 30, 0.8);
    padding: 6px 10px;
}

/* Estilos de diálogo de selector de idioma */
.language-selector-dialog {
    background-color: #212836;
    color: white;
}

.language-selector-dialog label {
    color: white;
}
