[Desktop Entry]
Name=DexterOrganizer
Comment=Aplicación para organizar documentos
Exec=dexter-organizer
Icon=dexter-organizer
Terminal=false
Type=Application
Categories=Office;Utility;
Keywords=document;organizer;
