Package: dexter-soa
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Maintainer: Victor Oubiña <oubinav78@gmail.com>
Depends: python3, python3-gi, gir1.2-gtk-3.0, gir1.2-vte-2.91, policykit-1, python3-psutil
Homepage: https://sourceforge.net/projects/dexter-gnome/
Description: Utilidad avanzada de gestión de sistema para Debian
 DexterSOA es una herramienta gráfica para la administración
 del sistema Debian que proporciona funcionalidades para:
 .
  * Gestión de actualizaciones del sistema
  * Administración de paquetes y preferencias APT
  * Limpieza del sistema basada en patrones XML
  * Notificaciones y recordatorios programados
  * Estadísticas y optimización del sistema
 .
 Diseñada con una interfaz intuitiva y temas claro/oscuro.
