Package: dexter-lang-selector
Version: 1.0
Architecture: amd64
Maintainer: Victor Oubiña <oubinav78@gmail.com>
Installed-Size: 1307
Depends: libc6, libgcc-s1, libqt5core5a, libqt5gui5 | libqt5gui5-gles, libqt5widgets5, libstdc++6
Section: utils
Priority: extra
Description: Language selection page
 Language selection page
